body {
  width: 100%;
  padding: 30px 0;
  margin: 0;
  background: #333;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.heading {
  font-size: 35px;
}
//modules

.module-padding {
  padding: 0 30px;
}

//type

h2 {
  display: inline-block;
  font-size: 30px;
  color: #333;
}

a {
  color: $marrs-green;
}

[class*='323333'] {
  color: #eee;

  h2 {
    color: #eee;
  }
}

//utils

.bold {
  font-weight: 700;
}

.pad-hoz5 {
  padding: 0 5px;
}


@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .heading {
    font-size: 26px;
  }

  .module-padding {
    padding: 0 10px;
  }

  h2 {
    padding-top: 20px;
    font-size: 26px;
  }
}
