# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# misc
jpgCV.psd
jpgcvfull.jpg
jpgcvfull2.jpg
jpgcvmerged.psd
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


