.skills-region {
  text-align: center;
  padding-top: 30px;
  
  .standard-text {
    padding-bottom: 15px;
  }
}

.selected-skill {
  display: block;
  margin: 0 auto 30px;
  width: 150px;
  line-height: 60px;
  height: 60px;
  font-size: 21px;
  border-radius: 5px;
  background: transparentize(#000, 0.3);
  color: #fff;
}

.skill {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 100px;
  max-height: 100px;
  max-width: 180px;
  padding: 15px 30px;
  transition: all 0.3s;

  img {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    max-height: 80px;
    max-width: 80px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
