//This file is setting up containers / emulating bootstrap.

.wrap {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 1366px; //Most common size.
  width: 1366px; //temporary
  box-shadow: 0 0 20px 0 #000;
}

.container-wrap {
  display: block;
  width: 100%;

  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;

    .row {
      margin: 0 -10px;

      //fixes clearing issue safely.
      @include float-fix();
    }

    &.slant {
      position: relative;
      padding-bottom: 170px;

      .slant {
        position: absolute;
        height: auto;
        width: auto;
        bottom: 0;
        left: 0;
        right: 0;
        border-right: 1366px solid transparent;
        border-left: 0;
        border-top: 0;
        border-bottom: 100px solid #323333;

        &:before {
          content: "";
          position: absolute;
          display: block;
          z-index: 1;
          width: 1500px;
          background: $marrs-green;
          transform: rotate(4.2deg);
          height: 10px;
          top: 38px;
          left: -100px;
          right: 0;
        }
      }

      .slant-323333 {
        border-bottom: 100px solid #fff;
      }
    }
  }
}


.too-small {
  position: fixed;
  z-index: 100000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  
  &.hidden {
    display: none;
    visibility: hidden;
  }
  
  span {
    position: absolute;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    max-width: 280px;
  }
}

@media (min-width: 768px)  {
  .too-small {
    span {
      max-width: 350px;
      font-size: 18px;
      line-height: 23px;
    }
  }
}

@media (min-width: 1100px)  {
  .too-small {
    span {
      max-width: 400px;
      font-size: 20px;
      line-height: 35px;
    }
  }
}
