//This file is setting up containers / emulating bootstrap.

.container-wrap {
  display: block;
  width: 100%;

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1366px; //Most common size.
    box-shadow: 0 0 20px 0 #000;

    .row {
      margin: 0 -10px;

      //fixes clearing issue safely.
      @include float-fix();
    }
  }
}
